<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Generated..</title>
    <link href="{{ url_for('static', filename='css/output.css') }}" rel="stylesheet">
</head>

<body class="bg-slate-900">

    <div class="p-5 border-white border-rounded-xl m-5">
        {% if data %}
        <p class="text-white">{{data}}</p>
        {% endif %}
    </div>
    <div class="mx-auto max-w-screen-sm text-center">

        <a href="/"
            class="inline-flex text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-blue-900 my-4">Back
            to Homepage</a>
        <a href="/recom"
            class="inline-flex text-white bg-blue-600 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:focus:ring-blue-900 my-4 ">Back
            to Recommendation</a>
    </div>


</body>

</html>